/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text-card: #f5f5f5;
  --form-bg: #faf7ef;
}

/* LAYOUT GERAL COM GRID */
.layout {
  display: grid;
  grid-template-columns: 30vw 1fr;
  min-height: 100vh;
}

/* LATERAL (IMAGEM + CARTÕES) */
.sidebar {
  position: relative;
  background-image: url(images/bg-main-desktop.png);
}


.cards-wrapper {
  position: absolute;
  top: 15vh;
  left: 6vw;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* CARTÕES */
.card-front{
    position: absolute;
    left: 5vw;
}

.card-back{
    position: absolute;
    left: 15vw;
}

.card {
  position: relative;
  color: var(--text-card);
  width: 400px;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 12px 12px 30px  rgba(40, 40, 40, 0.516);
}

.card-bg {
  width: 100%;
  display: block;
}

.logo-card {
  position: absolute;
  top: 20px;
  left: 25px;
}

.num-card {
  position: absolute;
  bottom: 75px;
  left: 25px;
  font-size: 1.8rem;
}

.nome-card {
  position: absolute;
  bottom: 30px;
  left: 25px;
}

.data-valid{
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 25px;
}

.cvv-card {
  position: absolute;
  top: 95px;
  right: 50px;
}

/* ÁREA DO FORMULÁRIO */
.form-area {
  display: flex;
  align-items: center;
  margin: 0 10vw 0 auto;
}

form {
  padding: 2rem;
  width: 380px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

label {
  color: #616161;
  font-size: 0.85rem;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.inputs-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.validade {
  display: flex;
  gap: 10px;
}

.validade input {
  width: 60px;
}

.cvv-sect{
    display: flex;
    flex-direction: column;
}
.cvv-sect input {
    width: 150px;
}

/* BOTÃO */
.botao-confirm {
  padding: 12px;
  margin-top: 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #3f1a57;
  color: white;
}

.alert{
  font-size: small;
  color: red;
}

/* Sucesso ao enviar formulário */
/* Nova forma de aninhamento nativo */

.submit-success{
  display: flex;
  flex-direction: column;
  align-items: center;

  img{
    width: 100px;
    margin-bottom: 30px;
  }

  h1{
    margin-bottom: 20px;
  }

  a{
    text-decoration: none;
    text-align: center;
    width: 100%;
  }

}

.fade-out{
  opacity: 0;
  transition: 0.3s;
}

.fade-in{
  opacity: 1;
  transition: 0.3s;
}

.hidden{
  display: none;
}

/* RESPONSIVIDADE */
@media (max-width: 1150px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    height: 240px;
    background-image: url(images/bg-main-mobile.png);
    width: 100vw;
  }

  .cards-wrapper {
    flex-direction: column-reverse;
    top: 20px;
    left: 50%;
    transform: translateX(-58%);
    border: 2px solid red;
    width: 100vw;
    align-items: center;
  }

  .card-front{
    top: -15vh;
    z-index: 1;
  }

  .card {
    width: 350px;
    font-size: 1rem;
  }

  .logo-card{
    width: 75px;
  }

  .nome-card{
    bottom: 3vh;
  }

  .data-valid{
    bottom: 3vh;
  }

  .num-card{
    font-size: 1.6rem;
    bottom: 10vh;
  }

  .form-area {
    margin: 20vh auto 0 auto;
  }
}


@media (max-width: 550px) {
  .card {
    width: 300px;
    font-size: .8rem;
  }

  .logo-card{
    width: 50px;
  }

  .nome-card{
    bottom: 2vh;
  }

  .data-valid{
    bottom: 2vh;
  }

  .num-card{
    font-size: 1.4rem;
    bottom: 8vh;
  }

  .form-area {
    margin: 10vh auto 0 auto;
  }
  
}
