*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --text-card: whitesmoke;
}

body{
    height: 100vh;
}

main{
    display: grid;
    grid-template-columns: 30vw 1fr;
    position: relative;
}

.img-fundo{
    height: 100vh;
    width: auto;
    object-fit: cover;
}

/* FRENTE DO CARTÃO */
.frente-card{
    position: absolute;
    left: 12vw;
    top: 15vh;
}

.info-card{
    position: relative;
    color: var(--text-card);
    font-size: 1.2rem;
}

.logo-card{
    position: absolute;
    top: 25px;
    left: 30px;
}

.num-card{
    position: absolute;
    bottom: 80px;
    left: 30px;
    font-size: 35px;
}

.nome-card{
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.valid-card{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

/* TRÁS DO CARTÃO */
.tras-card{
    position: fixed;
    left: 20vw;
    bottom: 10vh;
}

.cvv-card{
    position: absolute;
    right: 60px;
    top: 110px;
}

/* LATERAL */

.lateral{
    display: flex;
    align-items: center;
}

.form-container{
    position: absolute;
    right: 10vw;
    width: 30vw;
    height: 500px;
    background-color: antiquewhite;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input{
    border: 1px solid gray;
    font-size: 1rem;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0 40px 0;
}

.inputs-bottom{
    display: flex;
    margin: 10px 0;
}

.valid-sect{
    width: 50%;
}
.validade{
    display: flex;
}

.validade input{
    width: 40%;
    margin: 5px;
}

.cvv-sect{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.cvv-sect input{
    width: 90%;
    margin: 5px;
}

.botao-confirm{
    margin: 50px 0;
}

