*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --text-card: whitesmoke;
}

body{
    height: 100vh;
}

main{
    display: flex;
}

.img-fundo{
    max-height: 100vh;
    width: 30vw;
}

/* FRENTE DO CARTÃO */
.frente-card{
    position: fixed;
    left: 12vw;
    top: 15vh;
}

.info-card{
    position: relative;
    color: var(--text-card);
    
    font-size: 1.2rem;
}

.logo-card{
    position: absolute;
    top: 25px;
    left: 30px;
}

.num-card{
    position: absolute;
    bottom: 80px;
    left: 30px;
    font-size: 35px;
}

.nome-card{
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.valid-card{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

/* TRÁS DO CARTÃO */
.tras-card{
    position: fixed;
    left: 20vw;
    bottom: 10vh;
}

.cvv-card{
    position: absolute;
    right: 60px;
    top: 110px;
}